*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  column-gap: 30px;
  align-items: end;
  padding-left: 30px;
  padding-right: 30px;
}

.content__details {
  grid-area: details;
  width: 100%;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  cursor: pointer;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-content: start;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 197px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.custom-scrollbar {
  overflow-x: hidden;
}

.content__list-container {
  height: 304px;
  position: relative;
}

.search-form__submit-button {
  width: 194px;
}

.title {
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  display: block;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 96%;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px;
  overflow: hidden;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.result {
  grid-area: result;
  padding-top: 78px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%; /* пытался сделать через object-fit и object-position, но не могу понять как размер задать, намнмого меньше размер медиа*/
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 3px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 100%;
  margin-bottom: 7px;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: inherit;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 0px;
  appearance: none;
  width: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgba(255, 255, 255);
}

.search-form__fieldset {
  flex: 1;
  border: none;
}

.search-form__pseudo-checkbox {
  border: 1px solid rgba(255, 255, 255);
  width: 19px;
  height: 19px;
  margin-right: 5px;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  height: 34px;
}

.search-form__submit-button {
  width: 194px;
  margin-top: 17px;
}

.more-button {
  width: 100%;
  margin-top: 36px;
}

.button:active {
  background-color: rgba(84, 80, 80);
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgba(255, 255, 255);
}

.content__card-link_current {
  background-color: rgba(84, 80, 80);
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgba(255, 255, 255);
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
